CONFIG_PATH=services/notificator/config/config.yaml

RAHMET_SURPO_RABBIT_URL=amqp://test:test@localhost:5672/
RAHMET_SURPO_RABBIT_QUEUE=scheduler.test
RAHMET_SURPO_RABBIT_EXCHANGE=test
RAHMET_SURPO_RABBIT_ROUTING_KEY=scheduler.test
RAHMET_SURPO_RABBIT_CONSUMER=notificator
