CONFIG_PATH=services/migrator/config/config.yaml
FEEMOUS_HOST=localhost
FEEMOUS_PORT=test
FEEMOUS_DB=test
FEEMOUS_USER=test
FEEMOUS_PASS=test

RAHMET_SURPO_RABBIT_URL=amqp://test:test@localhost:5672/
RAHMET_SURPO_RABBIT_QUEUE=scheduler.test
RAHMET_SURPO_RABBIT_EXCHANGE=test
RAHMET_SURPO_RABBIT_ROUTING_KEY=scheduler.test

SCHED_PERIOD=100m
SCHED_WINDOW=100m
